html {
  font-size: 16px;
  font-size: 62.5%;    
}

body {    
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif; 
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;  
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  margin-bottom: 20px;
}

.wrap {
  width: 100%;    
  margin: 0 auto;
}

.wrap:after {
  content: "";
  display: table;
  clear: both;
}

#header {
  width: 100%;  
  margin: 0 auto;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #ffffff;
}

#top-bar {
  padding-top: 20px;
}

#top-bar a {
  color: #ffffff;
}

#top-bar .social-icons {
  float: left;
  font-size: 22px;
  font-size: 2.2rem;
}

#top-bar .social-icons a {
  margin-left: 15px;
}

#top-bar .social-icons a:first-child {
  margin-left: 0;
}

#top-bar .quick-links {
  float: right;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

#top-bar .quick-links a {
  padding: 0 15px;
  border-left: 1px solid #ffffff;
}

#top-bar .quick-links a:first-child {  
  border-left: none;
}

#top-bar .quick-links a:last-child {  
  padding-right: 0;  
}

#logo {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  max-width: 835px;
}

/* original menu */
#main-nav-wrap {
  margin-top: 30px;
}

#main-nav {
  display: table;
  margin: 0 auto;
  padding: 0;
}

#main-nav:after {
  content: "";
  display: table;
  clear: both;
}

#main-nav li {
  list-style-type: none;
  display: block;
  float: left;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#main-nav li a {
  display: block;
  padding: 0 25px;
  color: #ffffff;
}

/* end of original menu */

/* revised menu */

#main-menu {
  margin-top: 50px;
}

#page-home #main-menu {
  
}

#main-menu ul {
  display: table;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

#main-menu ul:after {    
  content: "";
  display: table;
  clear: both;
}

#main-menu ul li {
  display: block;
  float: left;
}

#main-menu ul li:first-child {
  margin-left: 0;
}

#main-menu ul li a {
  display: block;
  overflow: hidden;
  width: 110px;
  height: 110px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.40);
  /* transition: background-color 0.1s ease-in-out; */
}

#main-menu ul li a:hover {
  background-color: rgba(0, 0, 0, 1.00);
}

#main-menu ul li a .fa {
  display: table;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 52px;
  text-align: center;
}

#main-menu ul li a img {
  display: table;
  height: 52px;
  margin: 0 auto;
  margin-top: 15px;
}

#main-menu ul li a span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

/* end of revised menu */

#search-wrap {
  width: 100%;
  max-width: 528px;
  margin: 0 auto;
  margin-top: 30px;
}

#search-form {
  box-shadow: 0 0 5px 5px rgba(62, 60, 60, 0.30);
}

#search-keyword {  
  float: left;
  width: 80%;
  height: 46px;
  line-height: 46px;
  color: #333333;
  padding: 0 10px;
  outline: none;
  border: none;  
}

#search-submit {
  float: left;
  width: 20%;
  height: 46px;
  line-height: 46px;
  border: none;
  color: #dc0016;  
  background-color: #fff200;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}

#header .text1 {
  margin-top: 20px;
  text-align: center;  
}

#header .text1b {
  color: #fff200;
  font-weight: bold;
}

#container {
  background-image: url(../images/container-bg-left.png), url(../images/container-bg-right.png);
  background-repeat: repeat-y, repeat-y;
  background-position: left top, right top;
}

#footer {
  color: #ffffff;
  font-size: 21px;
  background-color: #69C6DA;  
}

#footer a {
  color: #ffffff;
}

#footer .wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}